<?php
namespace App\Tasks;

use Slim\Container;
use Symfony\Component\Console\Command\Command;
use Symfony\Component\Console\Input\InputInterface;
use Symfony\Component\Console\Input\InputOption;
use Symfony\Component\Console\Output\OutputInterface;

class task.sample extends Command {
	/**
	 * @var Container
	 */
	protected $container;

	public function __construct(Container $container) {
		parent::__construct();
		$this->container = $container;
	}

	protected function configure() {
		$this
			->setName("task:sample")
			->setDescription("Sample Task")
			->addOption("sampler_supreme", "s", InputOption::VALUE_NONE, "Sample option");
	}

	protected function execute(InputInterface $input, OutputInterface $output) {

	}
}